{% extends "base/base.html" %}

{% block main %}
<h2>{{ title }}</h2>

<br>
<div class="col-lg-4, "align="left">	
	<table>
		<tr>
			<td>Date:</td>
			<td>
				<span id="date">{{ today }}</span>
			</td>
		</tr>
	  	<tr>
			<td>Lot No:</td>
			<td>
				<input type="text" id="lotNo" />
			</td>
		</tr>
		<tr>
			<td>Car Plate:</td>
			<td>
				<input type="text" id="carPlate" />
			</td>
		</tr>
	</table>
	<div>
		<span id="errorMessage" class="error"></span>
	</div>
	<div style="display: inline;">
		<input type="button" id="btnSave" value="Save" style="width:90px;height:40px; font-size: 20px;"/>
	</div>
	<div style="display: inline;">
		<input type="button" id="btnClear" value="Clear" style="width:90px;height:40px; font-size: 20px;"/>
	</div>
</div> <!-- /class -->

<script type="text/javascript">	
$("#btnSave").click(function(){
	var postData = {
			date: $("#date").text(),
			lotNo: $("#lotNo").val(),
			carPlate: $("#carPlate").val(),
	};
	
	$.post("/attendant/charge/create/", postData, function(data, textResult){
		jsonData = JSON.parse(data);
			
		if(jsonData.returnStatus){
			window.location = "/attendant/charge/";
		}
		else{
			$("#errorMessage").text(jsonData.returnMessage);
		}
	});

});

$("#btnClear").click(function() {
	clear();
});
function clear(){
	$("#date").val("");
	$("#lotNo").val("");
	$("#carPlate").val("");
	$("#errorMessage").text("");
};
</script>
{% endblock %}