{% extends "base/base.html" %}

{% block main %}
<h2>{{ title }}</h2>

<div class="row">
	<div class="col-lg-4">
	
		<form action="" method="post">
		<table>
		<tr>
			<td>Date From:</td>
			<td>
				<input type="text" id="dateFrom" />
			</td>
		</tr>
		<tr>
			<td>Date To:</td>
			<td>
				<input type="text" id="dateTo" />
			</td>
		</tr>
		<tr>
			<td>Lot No:</td>
			<td>
				<input type="text" id="lotNo" />
			</td>
		</tr>
		<tr>
			<td>Car Plate:</td>
			<td>
				<input type="text" id="carPlate" />
			</td>
		</tr>
		</table>
		<div>
	   		<span id="errorMessage" class="error"></span>
	   	</div>
		<div style="display: inline;">
			<input type="button" id="btnSearch" value="Search" style="width:90px;height:40px; font-size: 20px;"/>
		</div>
		<div style="display: inline;">
			<input type="button" id="btnCharge" value="Charge" style="width:90px;height:40px; font-size: 20px;"/>
		</div>
		<div style="display: inline;">
			<input type="button" id="btnClear" value="Clear" style="width:90px;height:40px; font-size: 20px;"/>
		</div>
		</form>
	</div>
	
	<div class="col-lg-8">
		<form action="" method="post">
			<table border="1">
				<thead>
				  <tr>
				  	<th>Attendant ID</th>
				  	<th>Doc. No</th>
				  	<th>Date</th>
				    <th>Lot No</th>
				    <th>Car Plate</th>
				    <th>Amount</th>
				  </tr>
				 </thead>
				 <tbody data-bind="template: { name: 'attendantTemplate', foreach: lineItems }"></tbody>
			</table>	
		</form>
	</div>
</div> <!-- /row -->

<script type="text/html" id="attendantTemplate">
<tr>
	<td><span data-bind="text: attendantCode"></span></td>
	<td><span data-bind="text: tranCode"></span></td>
    <td><span data-bind="text: date"></span></td>
    <td><span data-bind="text: lotNo"></span></td>
	<td><span data-bind="text: carPlate"></span></td>
	<td><span data-bind="text: amount"></span></td>
</tr>
</script>
			
<script type="text/javascript">
	$("#btnCharge").click(function(){
		window.location = "/attendant/charge/create/";
	});
	
	$("#btnClear").click(function() {
		clear();
	});
	function clear(){
		$("#dateFrom").val("");
		$("#dateTo").val("");
		$("#lotNo").val("");
		$("#carPlate").val("");
		$("#errorMessage").text("");
		vm.lineItems.removeAll();
	};
	
	// search
	function viewModel() {
		var self = this;
		
		self.lineItems = ko.observableArray();
		
		self.addLineItem = function(dataRow) {
			var lineItemDisplay = new LineItemDisplay();
			lineItemDisplay.attendantCode = ko.observable(dataRow.attendantCode);
			lineItemDisplay.tranCode = ko.observable(dataRow.tranCode);
			lineItemDisplay.date = ko.observable(dataRow.date);
			lineItemDisplay.lotNo = ko.observable(dataRow.lotNo);
			lineItemDisplay.carPlate = ko.observable(dataRow.carPlate);
			lineItemDisplay.amount = ko.observable(dataRow.amount);
			
			self.lineItems.push(lineItemDisplay)
		}
	}
	var vm = new viewModel();
	
	ko.applyBindings(vm);
	
	var LineItemDisplay = function() {
		var self = this;
		
		self.attendantCode;
		self.tranCode;
		self.date;
		self.lotNo;
		self.carPlate;
		self.amount;
	};
	
	$("#btnSearch").click(function() {
		vm.lineItems.removeAll();
		search();
	});
	
	function search() {
		var postData = {
				dateFrom: $("#dateFrom").val(),
				dateTo: $("#dateTo").val(),
				lotNo: $("#lotNo").val(),
				carPlate: $("#carPlate").val()
				};
		
		$.post("/attendant/charge/search/", postData, function(data, textResult){
			jsonData = JSON.parse(data);
				
			if(jsonData.returnStatus){
				// jason data
				vm.lineItems.removeAll();
				
				for (var i = 0; i < jsonData.data.length; i++) {
					var dataRow = jsonData.data[i];
					vm.addLineItem(dataRow);
				}
			}
			else{
				$("#errorMessage").text(jsonData.returnMessage);
			}
		});
	}

  	$(function() {
    	$( "#dateFrom" ).datepicker({
    	    dateFormat: 'dd/mm/yy',
    	    altField: '#thealtdate',
    	    altFormat: 'yy-mm-dd'
    	});
  	});
  	
  	$(function() {
    	$( "#dateTo" ).datepicker({
    	    dateFormat: 'dd/mm/yy',
    	    altField: '#thealtdate',
    	    altFormat: 'yy-mm-dd'
    	});
  	});
</script>
{% endblock %}