{% extends "base/base.html" %}

{% block main %}
<h2>{{ title }}</h2>

<br>
	<div class="col-lg-4">
	
	<table>
		<tr>
			<td>Date Time:</td>
			<td>
				<span id="date">{{ today }}</span>
			</td>
		</tr>
		<tr>
			<td>Car Reg. No:</td>
			<td>
				<input type="text" id="carRegno" />
			</td>
		</tr>
		<tr>
			<td>Name:</td>
			<td>
				<input type="text" id="name" />
			</td>
		</tr>
		<tr>
			<td>Ic No:</td>
			<td>
				<input type="text" id="icNo" />
			</td>
		</tr>
		<tr>
			<td>Hp:</td>
			<td>
				<input type="text" id="hp" />
			</td>
		</tr>
		<tr>
			<td>Email:</td>
			<td>
				<input type="text" id="email" />
			</td>
		</tr>
		<tr>
			<td>Address:</td>
			<td>
				<textarea id="address" rows="4" cols="30" placeholder="Enter your mailling address"></textarea>
			</td>
		</tr>
		<tr>
			<td>Tag No:</td>
			<td>
				<input type="text" id="tagNo" />
			</td>
		</tr>
		<tr>
			<td>Amount (RM):</td>
			<td>
				<span input type="text" id="amount"></span>
			</td>
		</tr>
	</table>
	
	<div>
   		<span id="errorMessage" class="error"></span>
   	</div>
	<br>	
	<div>
		<input type="button" id="btnCreate" value="Register" />
	</div>
	</div> <!-- /class -->

<script type="text/javascript">
$("#btnCreate").click(function(){
	
});
</script>
{% endblock %}