{% extends "base/base.html" %}

{% block main %}
<h2>{{ title }}</h2>

<br>
<div class="col-lg-4, "align="left">	
	<table>
		<tr>
			<td>Date:</td>
			<td>
				<span id="date">{{ today }}</span>
			</td>
		</tr>
	  	<tr>
			<td>Quantity:</td>
			<td>
				<input type="text" id="quantity" />
			</td>
		</tr>
		<tr>
			<td>Unit Price (RM):</td>
			<td>
				<span type="text" id="unitPrice" value="10" readonly="readonly"/></span>
			</td>
		</tr>
		<tr>
			<td>Amount (RM):</td>
			<td>
				<span type="text" id="amount" value="0" readonly="readonly" /></span>
			</td>
		</tr>
		<tr>
			<td>Payment Date:</td>
			<td>
				<input type="text" id="paymentDate" />
			</td>
		</tr>
		<tr>
			<td>Ref. No:</td>
			<td>
				<input type="text" id="refNo" />
			</td>
		</tr>
		<tr>
			<td>Attachment:</td>
			<td>
				<INPUT TYPE="file" NAME="attachedfile" MAXLENGTH=50 ALLOW="text/*" > 
			</td>
		</tr>
	</table>
	<div>
		<span id="errorMessage" class="error"></span>
	</div>
	<div>
		<input type="button" id="btnSave" value="Save" />
	</div>
</div> <!-- /class -->

<script type="text/javascript">
$(function() {
	$( "#paymentDate" ).datepicker({
	    dateFormat: 'dd/mm/yy',
	    altField: '#thealtdate',
	    altFormat: 'yy-mm-dd'
	});
	});
	
$("#btnSave").click(function(){
	var postData = {
			date: $("#date").text(),
			quantity: $("#quantity").val(),
			unitPrice: $("#unitPrice").val(),
			amount: $("#amount").val(),
			refNo: $("#refNo").val(),
			paymentDate: $("#paymentDate").val(),
			
	};
	
	$.post("/agent/buy/create/", postData, function(data, textResult){
		jsonData = JSON.parse(data);
			
		if(jsonData.returnStatus){
			window.location = "/agent/buy/";
		}
		else{
			$("#errorMessage").text(jsonData.returnMessage);
		}
	});

});
</script>
{% endblock %}