{% extends "base/base.html" %}

{% block main %}
<h2>{{ title }}</h2>

<div class="row">
	<div class="col-lg-4">
	
		<form action="" method="post">
		<table>
		<tr>
			<td>Date From:</td>
			<td>
				<input type="text" id="dateFrom" />
			</td>
		</tr>
		<tr>
			<td>Date To:</td>
			<td>
				<input type="text" id="dateTo" />
			</td>
		</tr>
		<tr>
			<td>Agent ID:</td>
			<td>
				<input type="text" id="agentCode" />
			</td>
		</tr>
		</table>
		<div>
	   		<span id="errorMessage" class="error"></span>
	   	</div>
		<div style="display: inline;">
			<input type="button" id="btnSearch" value="Search" style="width:90px;height:40px; font-size: 20px;"/>
		</div>
		<div style="display: inline;">
			<input type="button" id="btnClear" value="Clear" style="width:90px;height:40px; font-size: 20px;"/>
		</div>
		</form>
	</div>
		
	<div class="col-lg-8">
	
		<form action="" method="post">
			<table border="1">
				<thead>
				  <tr>
				  	<th>Agent ID</th>
				  	<th>Date</th>
				    <th>Amt (RM)</th>
				  </tr>
				 </thead>
				 <tbody data-bind="template: { name: 'depositTemplate', foreach: lineItems }"></tbody>
			</table>
			<div>
	   		<span id="errorMessage" class="error"></span>
	   		</div>	
		</form>
	</div>
</div> <!-- /row -->
	
<script type="text/html" id="depositTemplate">
<tr>
	<td><a data-bind="text: agentCode, attr: { href: urlDetail, title: agentCode }"></a></td>
	<td><span data-bind="text: tranDate"></span></td>
	<td><span data-bind="text: amt"></span></td>
</tr>
</script>
			
<script type="text/javascript">
$("#btnClear").click(function() {
	clear();
});
function clear(){
	$("#dateFrom").val("");
	$("#dateTo").val("");
	$("#agentCode").val("");
	$("#errorMessage").text("");
	vm.lineItems.removeAll();
};

// search
function viewModel() {
	var self = this;
	
	self.lineItems = ko.observableArray();
	
	self.addLineItem = function(dataRow) {
		var lineItemDisplay = new LineItemDisplay();
		lineItemDisplay.agentCode = ko.observable(dataRow.agentCode);
		lineItemDisplay.tranDate = ko.observable(dataRow.tranDate);
		lineItemDisplay.amt = ko.observable(dataRow.amt);
		lineItemDisplay.urlDetail = ko.observable("/admin/deposit/detail/" + dataRow.agentCode + "/");
		
		self.lineItems.push(lineItemDisplay)
		}
}
var vm = new viewModel();

ko.applyBindings(vm);

var LineItemDisplay = function() {
	var self = this;
	
	self.agentCode;
	self.tranDate;
	self.amt;
	self.urlDetail;
};

$("#btnSearch").click(function() {
	vm.lineItems.removeAll();
	search();
});

function search() {
	var postData = {
			dateFrom: $("#dateFrom").val(),
			dateTo: $("#dateTo").val(),
			agentCode: $("#agentCode").val(),
			};
	
	$.post("/admin/summaryreports/depositbyagent/", postData, function(data, textResult){
			jsonData = JSON.parse(data);
			
			if(jsonData.returnStatus){
				// jason data
				vm.lineItems.removeAll();
				
				for (var i = 0; i < jsonData.data.length; i++) {
					var dataRow = jsonData.data[i];
					vm.addLineItem(dataRow);
				}
			}
			else{
				$("#errorMessage").text(jsonData.returnMessage);
			}
	});
}

$(function() {
	$( "#dateFrom" ).datepicker({
	    dateFormat: 'dd/mm/yy',
	    altField: '#thealtdate',
	    altFormat: 'yy-mm-dd'
	});
	});
	
	$(function() {
	$( "#dateTo" ).datepicker({
	    dateFormat: 'dd/mm/yy',
	    altField: '#thealtdate',
	    altFormat: 'yy-mm-dd'
	});
});
</script>

{% endblock %}