{% extends "base/base.html" %}

{% block main %}
<h2>{{ title }}</h2>

<br>
	<div class="col-lg-4" align="left"  >
	
	<table>
		<tr>
			<td>Date:</td>
			<td>
				<span id="date" />{{ today }}</span>
			</td>
		</tr>
		<tr>
			<td>Amount (RM):</td>
			<td>
				<input type="text" id="amt" />
			</td>
		</tr>
		<tr>
			<td>Payment Date:</td>
			<td>
				<input type="text" id="paymentDate" />
			</td>
		</tr>
		<tr>
			<td>Ref. No:</td>
			<td>
				<input type="text" id="refNo" />
			</td>
		</tr>
		<tr>
			<td>Attachment:</td>
			<td>
				<INPUT TYPE="file" NAME="attachedfile" MAXLENGTH=50 ALLOW="text/*" > 
			</td>
		</tr>	
	</table>
	<div>
		<input type="button" id="btnSave" value="Save" />
	</div>
	<div>
   		<span id="errorMessage" class="error"></span>
   	</div>
	<br>	
	
	</div> <!-- /classrow -->
		

<script type="text/javascript">
$(function() {
	$( "#paymentDate" ).datepicker({
	    dateFormat: 'dd/mm/yy',
	    altField: '#thealtdate',
	    altFormat: 'yy-mm-dd'
	});
	});
	
$("#btnSave").click(function(){
	var postData = {
			date: $("#date").text(),
			amount: $("#amt").val(),
			refNo: $("#refNo").val(),
			paymentDate: $("#paymentDate").val(),
			
	};
	
	$.post("/agent/deposit/create/", postData, function(data, textResult){
		jsonData = JSON.parse(data);
			
		if(jsonData.returnStatus){
			window.location = "/agent/deposit/";
		}
		else{
			$("#errorMessage").text(jsonData.returnMessage);
		}
	});

});
</script>
{% endblock %}