{% extends "base/base.html" %}

{% block main %}
<h2>{{ title }}</h2>

<div class="row">
	<div class="col-lg-4">
	
<form action="" method="post">
	<table>
		<tr>
			<td>User ID:</td>
			<td>
				<input type="text" id="code" />
			</td>
		</tr>
		<tr>
			<td>Name:</td>
			<td>
				<input type="text" id="name" />
			</td>
		</tr>
		<tr>
			<td>Password:</td>
			<td>
				<input type="text" id="pwd" />
			</td>
		</tr>
		<tr>
			<td>Level:</td>
			<td>
				<select id="level">
        		<option value="2">Super User</option>
        		<option value="3">Limited User</option>
        		<option value="4">Manager</option>
        		<option value="5">Accountant</option>
    			</select>
			</td>
		</tr>
	</table>
	
	<div>
   		<span id="errorMessage" class="error"></span>
   	</div>
	<br>	
	<div style="display: inline;">
		<input type="button" id="btnCreate" value="Create" style="width:90px;height:40px; font-size: 20px;"/>
	</div>
	<div style="display: inline;">
		<input type="button" id="btnClear" value="Clear" style="width:90px;height:40px; font-size: 20px;"/>
	</div>
</form>

	</div>
</div>

	
<script type="text/javascript">
	$("#btnCreate").click(function(){
		var postData = {
				code: $("#code").val(),
				name: $("#name").val(),
				pwd: $("#pwd").val(),
				level: $("#level").val(),
		};
		
		$.post("/admin/user/create/", postData, function(data, textResult){
			jsonData = JSON.parse(data);
				
			if(jsonData.returnStatus){
				window.location = "/admin/user/";
			}
			else{
				$("#errorMessage").text(jsonData.returnMessage);
			}
		});
	
	});
	
	$("#btnClear").click(function() {
		clear();
	});
	function clear(){
		$("#code").val("");
		$("#name").val("");
		$("#pwd").val("");
		$("#errorMessage").text("");
	};
</script>
{% endblock %}