{% extends "base/base.html" %}

{% block main %}
<h2>{{ title }}</h2>

<div class="row">
	<div class="col-lg-4">
	
<form action="" method="post">
	<input type="hidden" id="lastModified" value="{{ user.last_modified }}"/>
	<table>
		<tr>
			<td>User ID:</td>
			<td>
				<span>{{ user.code }}</span>
			</td>
		</tr>
		<tr>
			<td>Name:</td>
			<td>
				<input type="text" id="name" value="{{ user.name }}" />
			</td>
		</tr>
		<tr>
			<td>Level:</td>
			<td>
				<select id="level" value="options[{{ user.level }}].selected">
        		<option value="2">Super User</option>
        		<option value="3">Limited User</option>
        		<option value="4">Manager</option>
        		<option value="5">Accountant</option>
    			</select>
			</td>
		</tr>
		<tr>
			<td>Active:</td>
			<td>
				<input type="checkbox" id="active" name="active" value="true"> I'm active user<br>
			</td>
		</tr>
	</table>
	
	<div>
   		<span id="errorMessage" class="error"></span>
   	</div>
	<br>	
	<div>
		<input type="button" id="btnSave" value="Save" />
	</div>
</form>

	</div>
</div>

<script type="text/javascript">
//checking checkbox
if (!$('#checkbox').is(':checked')){
	$("#errorMessage").text("Must tick the Active checkbox");
};

// save
$("#btnSave").click(function(){
	var postData = {
			name: $("#name").val(),
			level: $("#level").val(),
			lastModified: $("#lastModified").val()
	};
	
	$.post("/admin/user/update/{{ user.code }}/", postData, function(data, textResult) {
		jsonData = JSON.parse(data);
		
		if (jsonData.returnStatus) {
			window.location = "/admin/user/";
		}
		else {
			$("#errorMessage").text(jsonData.returnMessage);
		}
	});
});
</script>

{% endblock %}