{% extends "base/base.html" %}

{% block main %}
<h2>{{ title }}</h2>

<div class="row">	
	<div class="col-lg-8">
	
		<form action="" method="post">
			<table border="1">
				<thead>
				  <tr>
				  	<th>No</th>
				  	<th>Car Reg. No</th>
				    <th>Today Charge (RM)</th>
				    <th>Balance (RM)</th>
				  </tr>
				 </thead>
				 <tbody data-bind="template: { name: 'customerTemplate', foreach: lineItems }"></tbody>
			</table>
			<div>
	   		<span id="errorMessage" class="error"></span>
	   		</div>	
		</form>
	</div>
</div> <!-- /row -->
	
<script type="text/html" id="customerTemplate">
<tr>
	<td><span data-bind="text: no"></span></td>
	<td><a data-bind="text: carRegNo, attr: { href: urlDetail, title: carRegNo }"></a></td>
	<td><span data-bind="text: chargeAmt"></span></td>
	<td><span data-bind="text: balAmt"></span></td>
</tr>
</script>
			
<script type="text/javascript">

// search
function viewModel() {
	var self = this;
	
	self.lineItems = ko.observableArray();
	
	self.addLineItem = function(dataRow) {
		var lineItemDisplay = new LineItemDisplay();
		lineItemDisplay.no = ko.observable(dataRow.no);
		lineItemDisplay.carRegNo = ko.observable(dataRow.carRegNo);
		lineItemDisplay.chargeAmt = ko.observable(dataRow.chargeAmt);
		lineItemDisplay.balAmt = ko.observable(dataRow.balAmt);
		lineItemDisplay.urlDetail = ko.observable("/customer/statement/" + dataRow.carRegNo + "/");
		
		self.lineItems.push(lineItemDisplay)
		};
	
	self.addTotalLineItem = function(chargeAmt, balAmt) {
		var lineItemDisplay = new LineItemDisplay();
		lineItemDisplay.no = ko.observable("Total");
		lineItemDisplay.carRegNo = ko.observable("");
		lineItemDisplay.chargeAmt = ko.observable(chargeAmt);
		lineItemDisplay.balAmt = ko.observable(balAmt);
		lineItemDisplay.urlDetail = ko.observable("");
		
		self.lineItems.push(lineItemDisplay)
		};
}
var vm = new viewModel();

ko.applyBindings(vm);

var LineItemDisplay = function() {
	var self = this;
	
	self.no;
	self.carRegNo;
	self.chargeAmt;
	self.balAmt;
	self.urlDetail;
};


function search() {
	var postData = {
			ic: {{ current_customer.ic }}
	};
	
	$.post("/customer/home/balance/", postData, function(data, textResult){
			jsonData = JSON.parse(data);
			
			if(jsonData.returnStatus){
				// jason data
				vm.lineItems.removeAll();

				var chargeAmt = 0;
				var balAmt = 0;
				for (var i = 0; i < jsonData.data.length; i++) {
					var dataRow = jsonData.data[i];
					dataRow['no'] = i+1;
					vm.addLineItem(dataRow);
					
					chargeAmt += dataRow['chargeAmt'];
					balAmt += dataRow['balAmt'];
				}
				vm.addTotalLineItem(chargeAmt, balAmt);
			}
			else{
				$("#errorMessage").text(jsonData.returnMessage);
			}
	});
}

$(document).ready(function() {
	search();
});
</script>

{% endblock %}