{% extends "base/base.html" %}

{% block main %}
<h2>{{ title }}</h2>

<div class="row">
	<div class="col-lg-4">
	
<form action="" method="post">
	<input type="hidden" id="lastModified" value="{{ customer.last_modified }}"/>
	<table>
		<tr>
			<td>Customer IC:</td>
			<td>
				<span>{{ customer.ic }}</span>
			</td>
		</tr>
		<tr>
			<td>Name:</td>
			<td>
				<span>{{ customer.name }}</span>
			</td>
		</tr>
		<tr>
			<td>Address:</td>
			<td>
				<input type="text" id="address" value="{{ customer.address }}" />
			</td>
		</tr>
		<tr>
			<td>Tel:</td>
			<td>
				<input type="text" id="tel" value="{{ customer.tel }}" />
			</td>
		</tr>
		<tr>
			<td>Hp:</td>
			<td>
				<input type="text" id="hp" value="{{ customer.hp }}" />
			</td>
		</tr>
		<tr>
			<td>Email:</td>
			<td>
				<input type="text" id="email" value="{{ customer.email }}" />
			</td>
		</tr>
	</table>
	
	<div>
   		<span id="errorMessage" class="error"></span>
   	</div>
	<br>	
	<div>
		<input type="button" id="btnSave" value="Save" />
	</div>
</form>

	</div>
</div>

<script type="text/javascript">
$("#btnSave").click(function(){
	var postData = {
			ic: "{{ customer.ic }}",
			name: "{{ customer.name }}",
			address: $("#address").val(),
			tel: $("#tel").val(),
			hp: $("#hp").val(),
			email: $("#email").val(),
			lastModified: $("#lastModified").val()
	};

	$.post("/customer/account/update/{{ customer.ic }}/", postData, function(data, textResult) {
		jsonData = JSON.parse(data);
		
		if (jsonData.returnStatus) {
			window.location = "/customer/";
		}
		else {
			$("#errorMessage").text(jsonData.returnMessage);
		}
	});
});
</script>

{% endblock %}