{% extends "base/base.html" %}

{% block main %}
<h2>{{ title }}</h2>
<br>
<span> Car Reg. No: {{ register.car_reg_no }}</span>
<br>
<div class="row">		
	<div class="col-lg-8">
	
		<form action="" method="post">
			<table border="1">
				<thead>
				  <tr>
				  	<th>Date</th>
				  	<th>Tran Code</th>
				  	<th>Description</th>
				    <th>Db (RM)</th>
				    <th>Cr (RM)</th>
				    <th>Bal (RM)</th>
				  </tr>
				 </thead>
				 <tbody data-bind="template: { name: 'customerTemplate', foreach: lineItems }"></tbody>
			</table>
			<div>
	   		<span id="errorMessage" class="error"></span>
	   		</div>	
		</form>
	</div>
</div> <!-- /row -->
	
<script type="text/html" id="customerTemplate">
<tr>
	<td><span data-bind="text: tranDate"></span></td>
	<td><span data-bind="text: tranCode"></span></td>
	<td><span data-bind="text: description"></span></td>
	<td><span data-bind="text: dbAmt"></span></td>
	<td><span data-bind="text: crAmt"></span></td>
	<td><span data-bind="text: balAmt"></span></td>
</tr>
</script>
			
<script type="text/javascript">

// search
function viewModel() {
	var self = this;
	
	self.lineItems = ko.observableArray();
	
	self.addLineItem = function(dataRow) {
		var lineItemDisplay = new LineItemDisplay();
		lineItemDisplay.tranDate = ko.observable(dataRow.tranDate);
		lineItemDisplay.tranCode = ko.observable(dataRow.tranCode);
		lineItemDisplay.description = ko.observable(dataRow.description);
		lineItemDisplay.dbAmt = ko.observable(dataRow.dbAmt);
		lineItemDisplay.crAmt = ko.observable(dataRow.crAmt);
		lineItemDisplay.balAmt = ko.observable(dataRow.balAmt);
		
		self.lineItems.push(lineItemDisplay)
		}
}
var vm = new viewModel();

ko.applyBindings(vm);

var LineItemDisplay = function() {
	var self = this;
	
	self.tranDate;
	self.tranCode;
	self.description;
	self.dbAmt;
	self.crAmt;
	self.balAmt;
};

$("#btnSearch").click(function() {
	vm.lineItems.removeAll();
	search();
});

function search() {
	var postData = {
			reg_no: "{{ register.car_reg_no }}"
	};
	
	$.post("/customer/statement/{{ register.car_reg_no }}/", postData, function(data, textResult){
			jsonData = JSON.parse(data);
			
			if(jsonData.returnStatus){
				// jason data
				vm.lineItems.removeAll();
				
				for (var i = 0; i < jsonData.data.length; i++) {
					var dataRow = jsonData.data[i];
					vm.addLineItem(dataRow);
				}
			}
			else{
				$("#errorMessage").text(jsonData.returnMessage);
			}
	});
}

$(document).ready(function() {
	search();
});
</script>

{% endblock %}