{% extends "base/base.html" %}

{% block main %}
<h2>{{ title }}</h2>

<div class="row">
	<div class="col-lg-4">
	
	<form action="" method="post">
		<table>
			<tr>
				<td>Old Password:</td>
				<td>
					<input type="text" id="oldPwd" />
				</td>
			</tr>
			<tr>
				<td>New Password:</td>
				<td>
					<input type="password" id="newPwd" />
				</td>
			</tr>
			<tr>
				<td>Confirm Password:</td>
				<td>
					<input type="password" id="confirmPwd" />
				</td>
			</tr>
		</table>
		
		<div>
	   		<span id="errorMessage" class="error"></span>
	   	</div>
		<br>	
		<div>
			<input type="button" id="btnChange" value="Change Password" />
		</div>
	</form>

	</div>
</div>

	
<script type="text/javascript">
$("#btnChange").click(function(){
	// new password must same with confirm password
	if ($("#newPwd").val() != $("#confirmPwd").val()) {
		$("#errorMessage").text("Password not same.");
		return;
	};
	
	// save
	var postData = {
			newPwd: $("#newPwd").val(),
			oldPwd: $("#oldPwd").val(),
	};
	
	$.post("/admin/account/changepwd/", postData, function(data, textResult){
		jsonData = JSON.parse(data);
		
		if (jsonData.returnStatus) {
			window.location = "/admin/";
		}
		else {
			$("#errorMessage").text(jsonData.returnMessage);
		}
	});

});
</script>
{% endblock %}