{% extends "base/base.html" %}

{% block main %}
<h2>{{ title }}</h2>

<div class="row">
	<div class="col-lg-4">
	
	<form action="" method="post">
		<table>
			<tr>
				<td>Admin ID:</td>
				<td>
					<input type="text" id="adminId" />
				</td>
			</tr>
		</table>
		
		<div>
	   		<span id="errorMessage" class="error"></span>
	   	</div>
		<br>	
		<div>
			<input type="button" id="btnReset" value="Reset Password" />
		</div>
	</form>

	</div>
</div>

	
<script type="text/javascript">
$("#btnReset").click(function(){
	// save
	var postData = {
			adminId: $("#adminId").val(),
	};
	
	$.post("/admin/account/resetpwd/", postData, function(data, textResult){
		jsonData = JSON.parse(data);
		
		if (jsonData.returnStatus) {
			window.location = "/admin/";
		}
		else {
			$("#errorMessage").text(jsonData.returnMessage);
		}
	});

});
</script>
{% endblock %}