{% extends "base/base.html" %}

{% block main %}
<h2>{{ title }}</h2>

<div class="row">
	<div class="col-lg-4">
	
<form action="" method="post">
	<table>
		<tr>
			<td>User Code:</td>
			<td>
				<span>{{ user.code }}</span>
			</td>
		</tr>
		<tr>
			<td>Name:</td>
			<td>
				<input type="text" id="name" value="{{ user.name }}" />
			</td>
		</tr>
		<tr>
			<td>Password:</td>
			<td>
				<input type="text" id="pwd" value="{{ user.pwd }}" />
			</td>
		</tr>
		<tr>
			<td>Level:</td>
			<td>
				<input type="text" id="level" value="{{ user.level }}" />
			</td>
		</tr>
	</table>
	
	<div>
   		<span id="errorMessage" class="error"></span>
   	</div>
	<br>	
	<div>
		<input type="button" id="btnSave" value="Save" />
	</div>
</form>

	</div>
</div>

<script type="text/javascript">
$("#btnSave").click(function(){
	var postData = {
			name: $("#name").val(),
			pwd: $("#pwd").val(),
			level: $("#level").val()
	};
	
	$.post("/admin/signup/updateuser/{{ user.code }}", postData, function(data, textResult) {
		jsonData = JSON.parse(data);
		
		if (jsonData.returnResult) {
		}
		else {
			window.location = "/admin/signup/createuserlist/";
		}
	});
});
</script>

{% endblock %}