{% extends "base/base.html" %}

{% block main %}
<h2>{{ title }}</h2>

<br>
	<div class="col-lg-15"  >
	
	<table>
		<tr>
			<td>Date:</td>
			<td>
				<span id="date" />{{ today }}</span>
			</td>
		</tr>
		<tr>
			<td>Car Plate:</td>
			<td>
				<input type="text" id="carPlate" />
			</td>
		</tr>
		<tr>
			<td>Amount:</td>
			<td>
				<input type="text" id="amount" />
			</td>
		</tr>	
	</table>
	<div>
		<input type="button" id="btnSave" value="Save" />
	</div>
	<div>
   		<span id="errorMessage" class="error"></span>
   	</div>
	<br>	
	
	</div> <!-- /classrow -->
		

<script type="text/javascript">	
$("#btnSave").click(function(){
	var postData = {
			date: $("#date").text(),
			carPlate: $("#carPlate").val(),
			amount: $("#amount").val(),
	};
	
	$.post("/agent/topup/create/", postData, function(data, textResult){
		jsonData = JSON.parse(data);
			
		if(jsonData.returnStatus){
			window.location = "/agent/topup/receipt/" + jsonData.tranCode + "/";
		}
		else{
			$("#errorMessage").text(jsonData.returnMessage);
		}
	});

});
</script>
{% endblock %}